div.size {
  position:fixed;
  top: 5px;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  background-color: rgba(128, 128, 128, 0.92);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}